<a href="https://colab.research.google.com/github/DenizGuelcicek/new_a2-template/blob/master/Programming_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data_path = 'https://raw.githubusercontent.com/pds1920/_a2-template/master/data/video_game_sales.csv'
game_sales_data = pd.read_csv(data_path)
game_sales_data.head()

                       Name Platform  ...  User_Count Rating
0                Wii Sports      Wii  ...       322.0      E
1         Super Mario Bros.      NES  ...         NaN    NaN
2            Mario Kart Wii      Wii  ...       709.0      E
3         Wii Sports Resort      Wii  ...       192.0      E
4  Pokemon Red/Pokemon Blue       GB  ...         NaN    NaN

[5 rows x 10 columns]

In [0]:
game_sales_data.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Global_Sales',
       'Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating'],
      dtype='object')

In [0]:
# split the dataframe into features and the target variable

In [0]:
# predicting the yearly global sales (column Global_Sales)
y = game_sales_data['Global_Sales']

In [0]:
game_sales_features = ['Platform', 'Year_of_Release', 'Genre', 
       'Critic_Score', 'Critic_Count', 'User_Score', 'User_Count', 'Rating']

In [0]:
X = game_sales_data[game_sales_features]

In [0]:
X.head()

  Platform  Year_of_Release         Genre  ...  User_Score  User_Count  Rating
0      Wii           2006.0        Sports  ...         8.0       322.0       E
1      NES           1985.0      Platform  ...         NaN         NaN     NaN
2      Wii           2008.0        Racing  ...         8.3       709.0       E
3      Wii           2009.0        Sports  ...         8.0       192.0       E
4       GB           1996.0  Role-Playing  ...         NaN         NaN     NaN

[5 rows x 8 columns]

In [0]:
X.describe()

       Year_of_Release  Critic_Score  Critic_Count    User_Score    User_Count
count     16442.000000   8130.000000   8130.000000  10007.000000   7585.000000
mean       2006.486437     68.976015     26.358549      7.126238    162.277521
std           5.879730     13.935162     18.978236      1.306190    561.459579
min        1980.000000     13.000000      3.000000      0.000000      4.000000
25%        2003.000000     60.000000     12.000000      6.800000     10.000000
50%        2007.000000     71.000000     21.000000      7.130000     24.000000
75%        2010.000000     79.000000     36.000000      8.000000     81.000000
max        2020.000000     98.000000    113.000000      9.700000  10665.000000

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
# split the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [0]:
len(X_train)

13368

In [0]:
len(X_test)

3343

In [0]:
game_sales_data

                                Name Platform  ...  User_Count Rating
0                         Wii Sports      Wii  ...       322.0      E
1                  Super Mario Bros.      NES  ...         NaN    NaN
2                     Mario Kart Wii      Wii  ...       709.0      E
3                  Wii Sports Resort      Wii  ...       192.0      E
4           Pokemon Red/Pokemon Blue       GB  ...         NaN    NaN
...                              ...      ...  ...         ...    ...
16706  Samurai Warriors: Sanada Maru      PS3  ...         NaN    NaN
16707               LMA Manager 2007     X360  ...         NaN    NaN
16708        Haitaka no Psychedelica      PSV  ...         NaN    NaN
16709               Spirits & Spells      GBA  ...         NaN    NaN
16710            Winning Post 8 2016      PSV  ...         NaN    NaN

[16711 rows x 10 columns]

In [0]:
game_sales_data.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Global_Sales          0
Critic_Score       8581
Critic_Count       8581
User_Score         6704
User_Count         9126
Rating             6769
dtype: int64

In [0]:
game_sales_data.isnull().sum()/len(game_sales_data)

Name               0.000120
Platform           0.000000
Year_of_Release    0.016097
Genre              0.000120
Global_Sales       0.000000
Critic_Score       0.513494
Critic_Count       0.513494
User_Score         0.401173
User_Count         0.546107
Rating             0.405063
dtype: float64

In [0]:
game_sales_data.dropna(how='all').shape

(16711, 10)

In [0]:
# drop columns with more than 50% of missing data
#game_sales_data.drop('Critic_Count',inplace=True, axis=1)

In [0]:
game_sales_data.head()

                       Name Platform  ...  User_Count Rating
0                Wii Sports      Wii  ...       322.0      E
1         Super Mario Bros.      NES  ...         NaN    NaN
2            Mario Kart Wii      Wii  ...       709.0      E
3         Wii Sports Resort      Wii  ...       192.0      E
4  Pokemon Red/Pokemon Blue       GB  ...         NaN    NaN

[5 rows x 10 columns]

In [0]:
# Load dataset
data = pd.read_csv(data_path)

# Target variable
y = game_sales_data['Global_Sales']

# Drop non-numeric variables
game_predictors = data.drop(['Global_Sales'], axis=1)
X = game_predictors.select_dtypes(exclude=['object'])

# Train-test split
X_train_num, X_valid_num, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [0]:
X_train_num.head()

       Year_of_Release  Critic_Score  Critic_Count  User_Score  User_Count
8134            1998.0           NaN           NaN         NaN         NaN
14329           2007.0          38.0          12.0        7.13         NaN
8513            2010.0          70.0          26.0        6.40        31.0
9328            2006.0          58.0           6.0        6.90        17.0
2658            2009.0           NaN           NaN        7.13         NaN

In [0]:
## Removing missing values
from sklearn.impute import SimpleImputer

In [0]:
# Imputation
simple_imputer = SimpleImputer()
imputed_X_train_num = pd.DataFrame(simple_imputer.fit_transform(X_train_num))
imputed_X_valid_num = pd.DataFrame(simple_imputer.transform(X_valid_num))

# "Repair" column names
imputed_X_train.columns = X_train_num.columns
imputed_X_valid.columns = X_valid_num.columns

In [0]:
X_train.head()

In [0]:
imputed_X_train.head()

   Year_of_Release  Critic_Score  Critic_Count  User_Score  User_Count
0           1998.0     69.014457     26.123039    7.125906  159.112739
1           2007.0     38.000000     12.000000    7.130000  159.112739
2           2010.0     70.000000     26.000000    6.400000   31.000000
3           2006.0     58.000000      6.000000    6.900000   17.000000
4           2009.0     69.014457     26.123039    7.130000  159.112739

In [0]:
def score_dataset(X_train_num, X_valid_num, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train_num, y_train)
    preds = model.predict(X_valid_num)
    return mean_absolute_error(y_valid, preds)

In [0]:
imputed_X_train

In [0]:
from sklearn.preprocessing import OneHotEncoder

In [0]:
## Encoding categorical variables
# Load dataset
data = pd.read_csv(data_path)

data.dropna(axis=0, inplace=True)

# Separate target from predictors
y = data['Global_Sales']
X = data.drop(['Global_Sales'], axis=1)

# Train-test split
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [0]:
# find out the labels with unique elements smaller than 10 
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

print(low_cardinality_cols)

['Rating']

In [0]:
# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep only selected columns
cols_to_keep = low_cardinality_cols + numerical_cols
X_train = X_train_full[cols_to_keep].copy()
X_valid = X_valid_full[cols_to_keep].copy()

In [0]:
from sklearn.preprocessing import OneHotEncoder

In [0]:
## valueError by encoding: y contains previously unseen labels: 'AO' -> tried to drop out the unknown labels with dummies 

#create the dummies on the training data
dummy_train = pd.get_dummies(X_train.Rating)
#create the dummies in the new (unseen data)
dummy_new = pd.get_dummies(X_valid.Rating)
#re-index the new data to the columns of the training data, filling the missing values with 0
dummy_new.reindex(columns = dummy_train.columns, fill_value=0)

       E  E10+  M  T
1887   0     0  0  1
5438   0     1  0  0
3919   0     0  0  1
16072  0     1  0  0
2399   0     0  1  0
...   ..   ... .. ..
8978   1     0  0  0
12064  0     0  1  0
2504   0     0  0  1
15393  0     0  1  0
15250  0     1  0  0

[4775 rows x 4 columns]

In [0]:
X_valid

In [0]:
# Make a copy to protect original data
label_X_train = dummy_train.copy()
label_X_valid = dummy_new.copy()

# Apply label encoder
label_encoder = LabelEncoder()
for col in low_cardinality_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_valid[col] = label_encoder.transform(X_valid[col])
    

# Evaluate performance
mae_label_encoding = score_dataset(label_X_train, label_X_valid, y_train, y_valid)
print("MAE using Label Encoding: {}".format(mae_label_encoding))

## ? There are still new labes in label_X_Valid

In [0]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [0]:
# Preprocessing numerical columns
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing categorical columns
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore')) 
])

# Bundle both preprocessors
preprocessor = ColumnTransformer(transformers=[
    ('num', numerical_transformer, numerical_cols),
    ('cat', categorical_transformer, low_cardinality_cols)
])

In [0]:
##Train the model
from sklearn.ensemble import RandomForestRegressor

In [0]:
#Random Forest
# Define
forest_model = RandomForestRegressor(random_state=1, n_estimators=100)

# Fit
forest_model.fit(X_train, y_train)

# Evaluate
melb_preds = forest_model.predict(X_test) 
print("The MAE of our model is: {}".format(mean_absolute_error(val_y, melb_preds)))

In [0]:
##Decision Tree
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [0]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [0]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))